.vscode
.DS_Store
._*
Thumbs.db
.Spotlight-V100
.Trashes
*-output.txt
*-counts.txt
build
##dist
*.spec
__pycache__
*.sqlite3
\experiments\ChatBot\reddit_chat\chatbot-rnn\models
/experiments/ChatBot/reddit_chat/chatbot-rnn/models
models/
C:\Users\gawhe\github\codedump_tests\experiments\ChatBot\reddit_chat\chatbot-rnn\models
*.npz
*.pkl